@mattmcadams:registry=https://npm.pkg.github.com
cache=/Users/mmcadams/.cache/npm
//npm.pkg.github.com/:_authToken=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
@UA-Stratcom:registry=https://npm.pkg.github.com/
